@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap');


.student-buttons{
    align-items: center;
    padding: 100px;
}


.content{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  color: red;
}

.box-center{
    height: 100%;
    width: 100%;
    position: relative;
}


.left-bar{
    position:absolute;
    width: 11%;
    height: 90%;
    margin-left: 20px;
    margin-right: 90%;
    border: 1px solid black;
    padding: 10px;
    display: block;
    align-content: space-between;
    text-align: center;
    background-color: rgba(230, 253, 253, 0.671);
}

.left-bar div{
  text-align: center;
  align-content: space-between;
  margin-bottom: 100px;
  transform: translate(0, 50%);
}

.left-bar div:not([id="submit-button"]){
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.middle-bar{
    position: absolute;
    margin-left: 13%;
    width: 65%;
    height: 90%;
    border: 1px solid black;
    background-color: rgba(230, 253, 253, 0.671);
    overflow-y: scroll;
}

.middle-bar .title{
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    text-align: center;
}

.middle-bar .title [id="title"]{
    color: black;
    margin: 5px;

}

.middle-bar .task-text{
    padding: 40px 60px;
}

.middle-bar .image{
    align-content:space-between;
    margin: 20px 50px;
}

.middle-bar .answer {
    margin: 20px 50px;
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.form-group textarea{
  resize: none;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.student-buttons {
  position: absolute;
  left: -40%;
  align-items: center;
  width: 230%;
  height: 800px;
}

.student-buttons input[type="submit"] {
  width: 45%;
  height: 85%;
  opacity: 80%;
  margin: 10px;
}

.task-student-list{
  position: absolute;
  padding-bottom: 50px;
}

.task-student-list textarea {
  resize: none;
}

.left-bar-task{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 100px;
  align-content: space-between;
  width: 25%;
  left: -40%;
  padding: 40px;
}

.left-bar-task *{
  margin-top: 100px;
}

.left-bar-task input[value="Поднять вверх"]{
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.left-bar-task input[value="Удалить"]{
  border: 1px solid #752020;
  background: #fd8c7b;
}

.task-student-list input[value="Удалить"] {
  border: 1px solid #752020;
  background: #fd8c7b;
}

input[type="button"]:hover{
  transform: scale(1.1);
}

.task-student-list h3[name="header"] {
  margin-top: 50px;
}

.task-student-list h2{
  margin: 5% 0px;
}

.right-bar-task{
  position: absolute;
  border: 1px solid black;
  margin-top: 2%;
  background: white;
  margin-left: 115%;
  width: 70%;
  padding-bottom: 103%;
  height: 40%;
}

.right-bar-task .task-answer{
  padding: 20px;
}

.left-teacher-list{
  text-align: center;
  position: absolute;
  padding: 20px;
  margin-top: 5%;
  margin-left: -40%;
  width: 500px;
  height: 800px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
}

.middle-teacher-list{
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-top: 5%;
  margin-left: 40%;
  width: 500px;
  height: 800px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
}

.right-teacher-list{
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-top: 5%;
  margin-left: 120%;
  width: 500px;
  height: 800px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
}

.teacher-list div h2{
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.teacher-list div h4{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.right-bar-task textarea{
  resize: none;
  margin: 3%;
  margin-top: 75%;
}

.right-bar-task input{
  margin-left: 80%;
  margin-bottom: 20px;
}
