@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap');
.student-buttons {
  position: absolute;
  left: -40%;
  align-items: center;
  width: 230%;
  height: 800px;
}

.student-buttons input[type="submit"] {
  width: 45%;
  height: 85%;
  opacity: 80%;
  margin: 10px;
}

.content{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    color: red;
}
.test {
        position: absolute;
        top: 50%;
        height: 240px;
        margin-top: -120px;
}

.box-center{
    height: 100%;
    width: 100%;
    position: relative;
}


.left-bar{
    position:absolute;
    width: 11%;
    height: 90%;
    margin-left: 20px;
    margin-right: 90%;
    border: 1px solid black;
    padding: 10px;
    display: block;
    align-content: space-between;
    text-align: center;
    background-color: rgba(230, 253, 253, 0.671);
}

.left-bar div{
    text-align: center;
    align-content: space-between;
    margin-bottom: 100px;
    transform: translate(0, 50%);
}

.left-bar div:not([id="submit-button"]){
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.middle-bar{
    position: absolute;
    margin-left: 13%;
    width: 65%;
    height: 90%;
    border: 1px solid black;
    background-color: rgba(230, 253, 253, 0.671);
    overflow-y: scroll;
}

.middle-bar .title{
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.425);
    text-align: center;
}

.middle-bar .title [id="title"]{
    color: black;
    margin: 5px;

}

.middle-bar .task-text{
    padding: 40px 60px;
}

.middle-bar .image{
    align-content:space-between;
    margin: 20px 50px;
}

.middle-bar .answer {
    margin: 20px 50px;
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.flash {padding: 10px;}
.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.form-group textarea{
  resize: none;
}