{% extends "base.html" %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.password1.label(class="form-control-label") }}

                    {% if form.password1.errors %}
                        {{ form.password1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password1(class="form-control form-control-lg") }}
                    {% endif %}
                    <div class="form-group">
                    {{ form.password2.label(class="form-control-label") }}

                    {% if form.password2.errors %}
                        {{ form.password2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password2(class="form-control form-control-lg") }}
                    {% endif %}
                </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            <div>
    </form>
</div>
{% endblock content %}