{% extends "base.html" %}
{% block content %}
    {% if current_user.role == 'Студент' %}
        <meta http-equiv="refresh" content="0;URL=/student" />
    {% elif current_user.role == 'Преподаватель' %}
        <meta http-equiv="refresh" content="0;URL=/teacher" />
    {% elif current_user.role == 'Админ' %}
        <div class="student-buttons">
            <a href="/student"><input type="submit" value="К студенту"></a>
            <a href="/teacher"><input type="submit" value="К преподавателю"></a>
        </div>
    {% endif %}
{% endblock content %}