{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    {% if current_user.role != 'Преподаватель' %}
        <meta http-equiv="refresh" content="0;URL=/"/>
    {%else%}
        <h1>Мои студенты</h1>
        <div class="task-student-list">
        {% for student in students %}
            <a href="/account/{{student.studentid}}"><h3>{{student.studentemail}}</h3></a>
            <a href="/teacher/deletestudent/{{student.studentid}}"><input type="button" value="Удалить"</a>
        {%endfor%}
    {% endif %}
    {% endif %}
{% endblock content %}