{% extends "base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">

            <h2 class="account-heading">{{ user.name}}</h2>
            <h2 class="account-heading">{{ user.surname }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{ user.role }}</p>
            <p class="text-secondary">Группа: {{ user.group }}</p>
            <p class="text-secondary">Год поступления: {{ user.yearadmission }}</p>
            <p class="text-secondary">Айди: {{ user.id }}</p>
        </div>
      </div>
    </div>
{% endblock content %}