{% extends "base.html" %}
{% block content %}
<div class = "container">
    <div class = "container mt-4">
        <h1 class="h3 mb-3 fw-normal">Зарегистрируйте пользователя</h1>
            <form method="post">
                <input class="form-control form-control-lg" name="email" id="email" type="text" placeholder="Введите email" aria-label=".form-control-lg example">
                <input class="form-control form-control-lg" name="role" id="role" type="text" placeholder="Введите роль" aria-label=".form-control-lg example">



        <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
      </form>
</div>
{% endblock content %}