{% extends 'base.html' %}

{% block body %}
<div class = "container">
        <div class="container mt-5"
        <h1 class="h3 mb-3 fw-normal">Зарегистрируйте пользователя</h1>
        <form method="post">
            <textarea name="email" id="email" class="form-control" placeholder="Введите email"></textarea><br>
            <textarea name="role" id="role" class="form-control" placeholder="Введите роль"></textarea><br>
        
    
        <div class="checkbox mb-3">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
      </form>
</div>
{% endblock %}