<link rel="stylesheet" href="../static/css/main.css">

{% extends 'base.html' %}

{% block body %}
<form method="POST">
    <div>
        <div >
            <div class="left-bar">
                <div>
                    <h4>Статус:</h4>
                    <h5>Просмотренно</h5>
                </div>

                <div class="dates">
                    <h5 classname="middle-text">Введите сроки сдачи через тире:</h5>
                    <input name="term" size="20px" placeholder="дд-мм-гггг">
                    <input type="checkbox" name="term"> Бессрочный<Br>
                </div>

                <div>
                    <h4>Оценка</h4>
                    <h5>1-5</h5>
                </div>
                <div id="submit-button">
                    <input type="button" value="Подтвердить">
                </div>
            </div>
            
            <div class="middle-bar">
                <div class="title">
                    <input type="text" id="title" size="50" value="" placeholder="Введите заголовок">
                </div>

                <div class="task-text-input">
                    <textarea cols="150" rows="30" maxlength="10000"></textarea>

                </div>

                <div class="file-input">
                    <input type="file">
                </div>
                
                <input type="button" value="Отправить" id="send-button">
            </div>

            <div class="right-bar">
                <div class="message">
                    <p align="right">Test message</p>
            
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}
