{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    {% if current_user.role == 'Преподаватель' %}
        <h1>Проверка</h1>
        <h2>Бессрочные</h2>
        {% for task in tasks %}
            {% if task.status == '1' %}
                <h2>Айди задания {{ task.id }} {{ task.text }} от {{task.fromuser}}</h2>
            {%endif%}
        {%endfor%}
        <h2>Со сроком</h2>
        {% for task in tasks %}
            {% if task.status == '2' %}
                <h2>Айди задания {{ task.id }} {{ task.text }} от {{task.fromuser}}</h2>
            {%endif%}
        {%endfor%}
        <h2>Закрепленные</h2>
        {% for task in tasks %}
            {% if task.status == '3' %}
                <h2>Айди задания {{ task.id }} {{ task.text }} от {{task.fromuser}}</h2>
            {%endif%}
        {%endfor%}
    {% else %}
        <meta http-equiv="refresh" content="0;URL=/"/>
    {% endif %}
    {% endif %}
{% endblock content %}