<link rel="stylesheet" href="../static/main.css">
{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.role == 'Преподаватель' %}
            <div class="student-buttons">
                <a href="/teacher/{{current_user.id}}"><input type="submit" value="Оценить задания"></a>
                <a href="/teacher/checkedtask/{{current_user.id}}"><input type="submit" value="Оцененные задания"></a>
                <a href="/teacher/addstudent"><input type="submit" value="Добавить студента"></a>
                <a href="/teacher/mystudents"><input type="submit" value="Мои студенты"></a>
            </div>
        {% else %}
            <meta http-equiv="refresh" content="0;URL=/"/>
    {% endif %}
    {% endif %}
{% endblock content %}