{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
{% if current_user.role == 'Преподаватель' %}
{% if current_user.id != id %}
<meta http-equiv="refresh" content="0;URL=/" />
{% else %}
<div class="teacher-list">

    <div class="middle-teacher-list">
        <h2>Проверенные</h2>
        {% for task in tasks %}
        {% if task.status == '4' %}
        <a href="/teacher/checktask/{{task.id}}">
            <h3>Задание: {{ task.header }} </h3>
        </a>
        <a href="/account/{{task.fromuserid}}">
            <h4>от {{task.fromuser}}</h4>
        </a>
        {%endif%}
        {%endfor%}
    </div>

</div>
{% endif %}
{% else %}
<meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endif %}
{% endblock content %}