<link rel="stylesheet" href="../static/main.css">

{% extends 'base.html' %}

{% block body %}
<form method="POST">
    <div>
        <div >
            <div class="left-bar">
                <div>
                    <h4>Статус:</h4>
                    <select>
                        <option>Просмторенно</option>
                        <option>Выполнено</option>
                        <option>Отклонено</option>
                    </select>
                </div>

                <div>
                    <h5>Сроки сдачи:</h5>
                    <h6>Бессрочно</h6>
                </div>

                <div>
                    <h4>Поставить оценку:</h4>
                    <select >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div id="submit">
                    <input type="submit" value="Подтвердить">
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}