<link rel="stylesheet" href="../static/css/main.css">

{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <div>
        <div >
            <div class="left-bar">
                <div>
                    <h4>Статус:</h4>
                    <select>
                        <option>Просмторенно</option>
                        <option>Выполнено</option>
                        <option>Отклонено</option>
                    </select>
                </div>

                <div>
                    <h5>Сроки сдачи:</h5>
                    <h6>Бессрочно</h6>
                </div>

                <div>
                    <h4>Поставить оценку:</h4>
                    <select >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div id="submit-button">
                    <input type="button" value="Подтвердить">
                </div>
            </div>

            <div class="middle-bar">
                <div class="title">
                    <h2 id="title">Заголовок</h2>
                </div>

                <div class="task-text">
                    <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Feugiat nibh sed pulvinar proin gravida. Convallis
                    convallis tellus id interdum velit laoreet id. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel.
                    In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Faucibus a pellentesque sit amet porttitor eget dolor
                    morbi. In massa tempor nec feugiat nisl pretium fusce id velit. Vestibulum lectus mauris ultrices eros in cursus turpis
                    massa. Nulla facilisi etiam dignissim diam quis. Sit amet consectetur adipiscing elit duis. Posuere urna nec tincidunt
                    praesent semper feugiat nibh. Magna etiam tempor orci eu lobortis elementum. Tellus integer feugiat scelerisque varius
                    morbi. Fringilla ut morbi tincidunt augue interdum. Odio pellentesque diam volutpat commodo sed egestas. Aliquet
                    porttitor lacus luctus accumsan. Amet nisl suscipit adipiscing bibendum est ultricies. Nibh tortor id aliquet lectus
                    proin nibh. Faucibus in ornare quam viverra orci.
                    
                    Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Accumsan lacus vel facilisis volutpat. Nisl
                    condimentum id venenatis a condimentum vitae sapien. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros.
                    Hendrerit gravida rutrum quisque non tellus orci ac. Diam sollicitudin tempor id eu nisl nunc mi. Aliquam etiam erat
                    velit scelerisque in dictum non consectetur. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Ullamcorper eget
                    nulla facilisi etiam dignissim diam quis enim lobortis. Suspendisse interdum consectetur libero id faucibus nisl
                    tincidunt eget. Hac habitasse platea dictumst quisque sagittis purus. Ut etiam sit amet nisl purus in mollis.
                    
                    Bibendum enim facilisis gravida neque convallis. Amet consectetur adipiscing elit pellentesque habitant. Amet volutpat
                    consequat mauris nunc congue nisi vitae suscipit tellus. Dignissim suspendisse in est ante in nibh. Accumsan tortor
                    posuere ac ut consequat semper viverra nam. Dignissim suspendisse in est ante in nibh mauris cursus. Fringilla phasellus
                    faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet mauris commodo quis imperdiet massa
                    tincidunt. At ultrices mi tempus imperdiet. Viverra accumsan in nisl nisi scelerisque. Blandit turpis cursus in hac
                    habitasse platea dictumst quisque sagittis. Pretium fusce id velit ut tortor pretium viverra suspendisse. Vulputate enim
                    nulla aliquet porttitor lacus luctus accumsan. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Pulvinar
                    elementum integer enim neque volutpat ac. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Non
                    arcu risus quis varius quam.
                    Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Accumsan lacus vel facilisis volutpat. Nisl
                    condimentum id venenatis a condimentum vitae sapien. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros.
                    Hendrerit gravida rutrum quisque non tellus orci ac. Diam sollicitudin tempor id eu nisl nunc mi. Aliquam etiam erat
                    velit scelerisque in dictum non consectetur. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Ullamcorper eget
                    nulla facilisi etiam dignissim diam quis enim lobortis. Suspendisse interdum consectetur libero id faucibus nisl
                    tincidunt eget. Hac habitasse platea dictumst quisque sagittis purus. Ut etiam sit amet nisl purus in mollis.
                    
                    Bibendum enim facilisis gravida neque convallis. Amet consectetur adipiscing elit pellentesque habitant. Amet volutpat
                    consequat mauris nunc congue nisi vitae suscipit tellus. Dignissim suspendisse in est ante in nibh. Accumsan tortor
                    posuere ac ut consequat semper viverra nam. Dignissim suspendisse in est ante in nibh mauris cursus. Fringilla phasellus
                    faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sit amet mauris commodo quis imperdiet massa
                    tincidunt. At ultrices mi tempus imperdiet. Viverra accumsan in nisl nisi scelerisque. Blandit turpis cursus in hac
                    habitasse platea dictumst quisque sagittis. Pretium fusce id velit ut tortor pretium viverra suspendisse. Vulputate enim
                    nulla aliquet porttitor lacus luctus accumsan. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Pulvinar
                    elementum integer enim neque volutpat ac. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Non
                    arcu risus quis varius quam.
                    </h5>
                </div>
                
                <div class="image">
                    <input type="image" style="width: 400px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.rai6vXNQTwSL1j-itMfbNQHaJv%26pid%3DApi&f=1">
                    <input type="image" style="width: 400px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.yF3n0C5ESLfn5zEA5UnRbgHaD4%26pid%3DApi&f=1">
                </div>

                <div class="answer">
                    <h3>Ваш ответ:</h3>
                    <textarea cols="130" rows="10" maxlength="1500"></textarea>
                    <input type="button" value="Отправить">
                </div>            
            </div>

            <div class="right-bar">
                <div class="message">
                    <p align="right">Test message</p>

                </div>

            </div>
        </div>
    </div>
</form>

{% endblock content %}
