{% extends "base.html" %}
{% block content %}
<body>
  <div class = "center">
      {% if current_user.is_authenticated %}
        {% if current_user.role == 'Студент' %}
            <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file"
            <td><input type="submit" value="Submit"></td>
                {% else %}
                    <meta http-equiv="refresh" content="0;URL=/">
                {% endif %}
                {% endif %}
    </form>
  </div>
</body>
{% endblock content %}